.headerToDoList {
    position: relative;
    height: 12.5rem;
    background-color: var(--gray-700);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .headerToDoList>img {
    width: 7.875rem;
    height: 3rem;
  }
  
  .barraDeFerramenta {
    height: 3.375rem;
    width: 100%;
    display: flex;
    gap: 0.5rem;
    padding: 0 1rem;
    position: absolute;
    bottom: calc(-3.375rem / 2);
  }
  
  .barraDeFerramenta input {
    height: 100%;
    flex: 1;
    color: var(--gray-100);
    background-color: var(--gray-500);
    outline: 1px solid var(--gray-700);
    padding: 0 1rem;
    border: 0;
    font-size: 1rem;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
  }
  
  .barraDeFerramenta input::placeholder {
    color: var(--gray-300);
  }
  
  .barraDeFerramenta button {
    height: 100%;
    padding: 0 1rem;
    background-color: var(--blue-200);
    color: var(--gray-100);
    border: 0;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 0.375rem;
    font-size: 0.875rem;
    font-weight: 700;
    cursor: pointer;
    transition: background-color .2s;
    -webkit-transition: background-color .2s;
    -moz-transition: background-color .2s;
    -ms-transition: background-color .2s;
    -o-transition: background-color .2s;
  }
  
  .barraDeFerramenta button:hover {
    background-color: var(--blue-100);
  }
  
  @media (max-width: 336px) {
    .barraDeFerramenta {
      flex-direction: column;
      min-height: 50px;
      height: auto;
    }
  
    .barraDeFerramenta button {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }